:root {
    --dark: rgb(20, 21, 26);
    --light: rgb(77, 181, 204);
    --blue: rgb(26, 105, 209);
    --purple: rgb(128, 0, 122);
}

body {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    line-height: 1.5;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#scores-button {
    color: var(--dark);
    background-color: var(--light);
    border: none;
    border-radius: 15px;
    padding: 10px;
    font-size: 15px;
    font-weight: bold;
}

.start-page {
    display: flex;
    flex-direction: column;
}

h1 {
    display: flex;
    justify-content: center;
    font-size: 45px;
}

p {
    margin: 0 15%;
    display: flex;
    justify-content: center;
    font-size: 17px;
}

#start-button {
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 20px;
    font-size: 20px;
    background-color: var(--dark);
    color: var(--light);
    border-radius: 15px;
    padding: 10px;
}

#scores-button:hover,
#start-button:hover,
.quiz-questions button:hover,
#submit-button:hover,
.high-scores button:hover {
    cursor: pointer;
    box-shadow: inset 0px 0px 5px var(--blue), 0 0 5px var(--blue);
}

.quiz-questions ol {
    font-size: 20px;
    margin-left: 15%;
}

.quiz-questions button {
    font-size: 20px;
    background-color: var(--dark);
    color: var(--light);
    border-radius: 15px;
    padding: 10px;
    margin-bottom: 15px;
}

.end-page h2 {
    display: flex;
    justify-content: center;
}

.end-page form {
    display: flex;
    justify-content: center;
}

#submit-button{
    font-size: 20px;
    background-color: var(--dark);
    color: var(--light);
    border-radius: 15px;
    padding: 5px;
}

.high-scores ol {
    margin-left: 20%;
    padding-left: 13%;
    font-size: 20px;
    /* display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap; */
}

.high-scores ol:nth-child(even) {
    background-color: var(--purple);
}

.high-scores li {
    border: 2px solid var(--dark)
}

.high-scores button {
    font-size: 20px;
    background-color: var(--dark);
    color: var(--light);
    border-radius: 15px;
    padding: 5px;
    margin-left: 25%;
}
